# Rename this file to .env and change the values below before deploying the stack

# MySQL environment variables
MYSQL_DATABASE = "wordpress";
MYSQl_USER = "dev";
MYSQL_PASSWORD = "password";
MYSQL_RANDOM_ROOT_PASSWORD = "1";

# WordPress environment variables
WORDPRESS_DB_HOST = "db";
WORDPRESS_DB_NAME = "wordpress";
WORDPRESS_DB_USER = "dev";
WORDPRESS_DB_PASSWORD = "password";
